<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello  <%= @user.first_name %> </h1>
    <p>
       You are logged in successfully with email  <%= @user.email%>  <br>
    </p>

    <p>Thanks and enjoy!</p>
  </body>
</html>


