<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello  <%= @user.first_name %> </h1>
    <p>
       Congratulation! Your new password is <br> <%= @new_password %>
    </p>

    <p> 
    Try to login this email: <br> <%= @user.email%> <br> with this password<br> <%= @new_password %><br>
    </p>

    <p>Thanks and enjoy!</p>
  </body>
</html>


