<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello  <%= @user.first_name %> </h1>
    <p>
       Congratulation! Your Password has been reset successfully!
    </p>

    <p> 
    Your new password is changed of email: <br> <%= @user.email%><br>
    </p>

    <p>Thanks and enjoy!</p>
  </body>
</html>


